body {
    font-family: 'Nanum Myeongjo', serif;
}

.row {
    margin-bottom: 20px;
}

.flex-center-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.content-row {
    padding-bottom: 50px;
}

.color-blocks-row {
    background-color: gainsboro;
}

.color-blocks-row .row-content {
    background-color: white;
}

.dark-row {
    background-color: gray;
    color: white;
}

.text-container {
    width: 60%;
}

.text-center {
    text-align: center;
}

.two-part-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    grid-column-gap: 50px;
}