body {
    font-family: 'Playfair Display', serif;
}

.row {
    margin-bottom: 20px;
}

.flex-center-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.color-blocks-row {
    margin-bottom: 20px;
    background-color: gainsboro;
}

.color-blocks-row .row-content {
    background-color: white;
}

.dark-row {
    background-color: gray;
    color: white;
    margin-bottom: 20px;
}

.text-container {
    width: 70%;
}

.text-center {
    text-align: center;
}