server {
    server_name {{ puny_domain }}
                www.{{ puny_domain }}
                ;
    
    location ~ /.well-known {
        root ~/.well-known;
    }
    location / {
        charset utf-8;
        root    {{ app_root }}/build;
        index   index.html index.htm;    # Always serve index.html for any request
        location / {
            root {{ app_root }}/build;
            try_files $uri /index.html;
        }
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ puny_domain }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ puny_domain }}/privkey.pem; # managed by Certbot
}
server {
    if ($host = www.{{ puny_domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot  


    if ($host = {{ puny_domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name {{ puny_domain }}
                www.{{ puny_domain }}
                ;
    return 404; # managed by Certbot

    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        expires 30d;
        add_header Vary Accept-Encoding;
        access_log off;
    }


}